<md-card class="example-card">
  <md-card-header>
    <md-card-title>David Kroukamp</md-card-title>
    <md-card-subtitle>Full-Stack Software Developer</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="../../assets/img/examples/profile.jpg">
  <md-card-content>
    <p>
      David is a cool software developer. He is the person responsible for making this website and is just writing stuff to fill
      up this text area as an example.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>