<nav>
  <a aria-label="Home" md-button="" routerLink="/" aria-disabled="false" tabindex="0" class="mat-button">
    <span class="mat-button-wrapper">Home</span>
    <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>

  <a md-button="" routerLink="FullTime" aria-disabled="false" tabindex="0" class="mat-button">
    <span class="mat-button-wrapper">Full Time</span>
    <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>

  <a md-button="" routerLink="PartTime" aria-disabled="false" tabindex="0" class="mat-button">
    <span class="mat-button-wrapper">Part Time</span>
    <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>

  <a md-button="" routerLink="Freelance" aria-disabled="false" tabindex="0" class="mat-button">
    <span class="mat-button-wrapper">Freelance</span>
    <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>

  <a md-button="" routerLink="Students" aria-disabled="false" tabindex="0" class="mat-button">
    <span class="mat-button-wrapper">Students</span>
    <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>

  <a md-button="" routerLink="WeeklyFeatures" aria-disabled="false" tabindex="0" class="mat-button">
    <span class="mat-button-wrapper">Weekly Features</span>
    <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>

  <a md-button="" routerLink="About" aria-disabled="false" tabindex="0" class="mat-button">
    <span class="mat-button-wrapper">About</span>
    <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
</nav>